<!DOCTYPE html>
<html lang="en" ng-app="signApp">
  <head>
    <meta charset="utf-8"/>
    <title>NYC Park Tales</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href="css/app.css" rel="stylesheet"/>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body ng-controller="SignCtrl">
    <div class="container-fluid">
      <div class="jumbo">  
        <h1>NYC Park Tales</h1>
        <input id="search" type="text" ng-model="query"/>
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="borough">Borough</option>
        </select>
      </div>
     <!--  <div class="sign-container container"> -->
       
        <ul>
          <li ng-repeat="sign in signs | filter:query" class ="sign">
            <img ng-src="#"/>
            <div class="row">
             <div class="col-md-4">
            <!-- <div class="info"> -->
              <h3>{{sign.name}}</h3>
              <p>{{sign.borough}}</p>
              <p class="text-shorten">{{sign.content}}</p>
            </div>
        </ul>
      </div>
      </div>
    </div>
  </body>
</html>